/* fuente Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
/* fuente Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* fuente Libre Franklin */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* fuente Jost */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* fuente Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* #################################################################### */

#root {
  background-color: #ececec;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*######################### Estilos para el Navbar #########################*/

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0e6b64;
  width: 100%;
  gap: 70px;
  box-shadow: 0px 4px 26px 1px rgba(14, 107, 100, 0.82);
  -webkit-box-shadow: 0px 4px 26px 1px rgba(14, 107, 100, 0.82);
  -moz-box-shadow: 0px 4px 26px 1px rgba(14, 107, 100, 0.82);
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-text {
  font-family: "Roboto", sans-serif;
  border-left: 2px solid #00a884;
  margin-left: 5px;
  padding-left: 5px;
  color: #fff;
}

.navbar-text h1 {
  font-size: 35px;
  position: relative;
  cursor: default;
}

.navbar-text h1::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.4s ease-out;
}

.navbar-text h1:hover::after {
  width: 100%;
}

.navbar-buttons {
  font-size: 18px;
  background-color: #0e6b64;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar-link {
  width: 25%;
  display: flex;
  justify-content: center;
}

.navbar-link-descripcion {
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar-link-descripcion:hover {
  background-color: #ec9a06;
  color: #fff;
  box-shadow: 0 4px 20px #ec9a0680;
  transform: translateY(-3px);
}

.navbar-buttons:hover {
  color: #fff;
  border: 1px solid #0e6b64;
  background: #00a884;
  box-shadow: 0 4px 20px #00a88480;
  transform: translateY(-3px);
}

.navbar-button_cerrar-sesion,
.navbar-button_budget,
.navbar-link-descripcion {
  font-size: 18px;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar-button_cerrar-sesion:hover {
  color: #fff;
  background: #dc2525;
  box-shadow: 0 4px 20px #dc252580;
  transform: translateY(-3px);
}

.navbar-button_budget:hover {
  color: #fff;
  background: #ec9a06;
  box-shadow: 0 4px 20px #ec9a0680;
  transform: translateX(3px);
}

/*######################### Estilos para los formularios <Login> y <Signup> #########################*/

.formulario {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: auto;
  margin-top: 110px;
  min-height: 63vh;
}

.formulario-data {
  background-color: #2c2f36;
  box-shadow: 0px 4px 26px 1px rgba(44, 47, 54, 0.82);
  -webkit-box-shadow: 0px 4px 26px 1px rgba(44, 47, 54, 0.82);
  -moz-box-shadow: 0px 4px 26px 1px rgba(44, 47, 54, 0.82);
}

.formulario-input {
  border: none;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
}

.formulario-input i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #00adb5;
}

.formulario-input input {
  width: 100%;
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
  background-color: #515963;
  color: white;
  font-size: 20px;
}

.formulario-input input::placeholder {
  color: #fff;
}

.formulario-button {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.formulario-button_registro,
.formulario-button_iniciar-sesion {
  background-color: #0e6b64;
  border: none;
  color: #fff;
  font-size: 20px;
  width: 100%;
}

.formulario-button_registro:hover,
.formulario-button_iniciar-sesion:hover {
  background-color: #00a884;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.formulario-button_iniciar-sesion:focus,
.formulario-button_registro:focus {
  background: #00a884;
  color: #fff;
  box-shadow: 0 4px 20px #00a88480;
  transform: translateY(-3px);
}

.formulario-button_iniciar-sesion:disabled,
.formulario-button_registro:disabled {
  background-color: #0b5a54;
  color: #fff;
}

/*######################### Estilos para el Home #########################*/
.home-img {
  width: 580px;
  height: auto;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
}

.home-text h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 70px;
}

.home-text p {
  font-family: "Inter", sans-serif;
}

.home-button {
  background-color: #0e6b64;
  border: 1px solid #0e6b64;
  width: 25%;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-button:hover {
  color: #fff;
  background: #00a884;
  box-shadow: 0 4px 20px #00a88480;
  transform: translateY(-3px);
}

/*######################### Estilos para InfoGestor #########################*/

.info-gestor {
  display: flex;
  background-color: #fff;
}

.info-gestor_container {
  width: 90%;
  padding: 0 90px;
}

.info-gestor_container-img {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.info-gestor_img {
  margin-top: 40%;
  width: 500px;
  height: 300px;
}

.info-gestor_img-2 {
  margin-top: 80%;
  width: 450px;
  height: 450px;
}

.info-gestor_titulo,
.info-gestor_presupuesto,
.info-gestor_consejos {
  text-align: justify;
}

.info-gestor_titulo h1 {
  text-align: center;
  margin: 40px 0;
  font-family: "Jost", sans-serif;
  font-weight: bold;
}

.info-gestor_presupuesto h3,
.info-gestor_consejos h3 {
  margin: 30px 0;
  font-family: "Libre Franklin", sans-serif;
}

/* Se refiere al contenedor de las 'Cards' */
.info-gestor_consejos ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* Se refiere a las 'Cards' */
.info-gestor_consejos ul li {
  width: 350px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-gestor_consejos ul li:hover {
  box-shadow: 0 4px 20px #ffffffdc;
}

/* Se refiere a los 'H3' de las 'Cards' */
.info-gestor_consejos ul li h3 {
  font-size: 20px;
  font-weight: 600;
}

/* Se refiere a los 'P' de las 'Cards' */
.info-gestor_consejos ul li p {
  font-size: 14px;
}

.info-gestor_titulo,
.info-gestor_presupuesto,
.info-gestor_consejos p {
  font-family: "Poppins", sans-serif;
}

.info-gestor_btn {
  display: flex;
  justify-content: center;
}

.info-gestor_btn-home {
  background-color: #ec9a06;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 15%;
  margin: 25px 0;
}

.info-gestor_btn-home:hover {
  background-color: #ec9a06;
  color: #fff;
  box-shadow: 0 4px 20px #ec9a0680;
  transform: translateY(-3px);
}

/* ######################### Estilos para el Budget ######################### */

.budget {
  height: 100vh;
}

.budget-button {
  background-color: #0e6b64;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.budget-button:hover {
  color: #fff;
  background: #00a884;
  box-shadow: 0 4px 20px #00a88480;
  transform: translateY(-3px);
}

.budget-paragraph {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 0;
  gap: 3px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.budget-paragraph:hover {
  transform: translateY(3px);
}

.budget-paragraph i {
  font-size: 15px;
}

.budget-list {
  padding: 20px;
  margin: 20px 0;
  background-color: #2c2f36;
  box-shadow: 0px 4px 26px 1px rgba(44, 47, 54, 0.82);
  -webkit-box-shadow: 0px 4px 26px 1px rgba(44, 47, 54, 0.82);
  -moz-box-shadow: 0px 4px 26px 1px rgba(44, 47, 54, 0.82);
}

.budget-list p {
  margin: 0;
}

/* ######################### Estilos para el CreateBudget ######################### */

.create_budget {
  height: 100vh;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create_budget-input_button {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.create_budget-input_button button {
  background-color: #0e6b64;
  border-color: #0e6b64;
  color: #fff;
}

.create_budget-input_button button:hover,
.create_budget-input_button button:focus {
  background-color: #00a884;
  border-color: #00a884;
  color: #fff;
  box-shadow: 0 4px 20px #00a88480;
}

.create_budget-ingreso_gasto {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.create_budget-button_ingreso {
  border-color: #006e57;
  color: #006e57;
}

.create_budget-button_ingreso:hover {
  border-color: #00a884;
  color: #fff;
  background-color: #00a884;
  box-shadow: 0 4px 20px #00a88480;
}

.create_budget-button_gasto {
  border-color: #dc2525;
  color: #dc2525;
}

.create_budget-button_gasto:hover {
  border-color: #dc2525;
  color: #fff;
  background-color: #dc2525;
  box-shadow: 0 4px 20px #dc252580;
}

.create_budget-volver_presupuesto {
  display: flex;
  justify-content: center;
}

.create_budget-volver_presupuesto button {
  background-color: #ec9a06;
  border-color: #ec9a06;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.create_budget-volver_presupuesto button:hover {
  color: #fff;
  background: #ec9a06;
  border-color: #ec9a06;
  box-shadow: 0 4px 20px #ec9a0680;
  transform: translateX(-3px);
}

/* ######################### Estilos para el Detalle Presupuesto ######################### */

.detalle_presupuesto-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.detalle_presupuesto-buttons button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detalle_presupuesto-buttons .ingreso {
  border-color: #006e57;
  color: #006e57;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.detalle_presupuesto-buttons .ingreso:hover {
  border-color: #00a884;
  background-color: #00a884;
  color: #fff;
  box-shadow: 0 4px 20px #00a88480;
  transform: translateY(-3px);
}

.detalle_presupuesto-buttons .gasto {
  border-color: #dc2525;
  color: #dc2525;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.detalle_presupuesto-buttons .gasto:hover {
  border-color: #dc2525;
  background-color: #dc2525;
  color: #fff;
  box-shadow: 0 4px 20px #dc252580;
  transform: translateY(-3px);
}

.detalle_presupuesto-buttons .pdf {
  border-color: #0d6efd;
  color: #0d6efd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.detalle_presupuesto-buttons .pdf:hover {
  border-color: #0d6efd;
  background-color: #0d6efd;
  color: #fff;
  box-shadow: 0 4px 20px #0d6efd80;
  transform: translateY(-3px);
}

.detalle_presupuesto_volver {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.detalle_presupuesto_volver button {
  background-color: #ec9a06;
  border-color: #ec9a06;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.detalle_presupuesto_volver button:hover {
  background-color: #ec9a06;
  border-color: #ec9a06;
  color: #fff;
  box-shadow: 0 4px 20px #ec9a0680;
  transform: translateX(-3px);
}

/* ######################### Estilos para el Footer ######################### */

.footer {
  height: 100%;
  width: 100%;
  background-color: #0e6b64;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  color: #fff;
}

.footer-title h4 {
  margin: 0;
  padding: 10px 0;
}

.footer-copyright {
  color: #a7a7a7;
  display: flex;
}

.footer-copyright p {
  margin: 0;
  padding: 10px 0;
}

/* Skeleton */
.skeleton-box {
  background: #e3e3e3;
  border-radius: 8px;
  animation: loading 1.2s infinite linear;
}

.skeleton-card {
  height: 200px;
  background: #e3e3e3;
  border-radius: 12px;
  animation: loading 1.2s infinite linear;
}

.skeleton-item {
  width: 100%;
}

@keyframes loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #d5d5d5;
  }
  100% {
    background-color: #e0e0e0;
  }
}

@keyframes loading {
  0% {
    background-color: #e3e3e3;
  }
  50% {
    background-color: #d4d4d4;
  }
  100% {
    background-color: #e3e3e3;
  }
}

/* Estilos varios */
.color-custom {
  color: #00a884;
}

.btn-outline-custom {
  color: #0e6b64;
  border-color: #0e6b64;
  background-color: transparent;
}
.btn-outline-custom:hover {
  color: #ffffff;
  background-color: #0e6b64;
  border-color: #0e6b64;
}

.btn-outline-custom:focus {
  box-shadow: 0 0 0 0.25rem rgba(14, 107, 100, 0.5);
}

.btn-custom {
  background-color: #0e6b64;
  border-color: #0e6b64;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.btn-custom:hover {
  background-color: #0b524d;
  border-color: #0a4b46;
  color: #ffffff;
}

.btn-custom:focus {
  background-color: #0b524d !important;
  border-color: #0a4b46 !important;
  box-shadow: 0 0 0 0.25rem rgba(14, 107, 100, 0.5) !important;
}
.header-modal {
  background-color: #5b5e5d;
  width: 100%;
  gap: 70px;
  box-shadow: 0px 4px 26px 1px rgba(154, 158, 158, 0.82);
}

/* ######################### Estilos para cards de perfil ######################### */

.perfil-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  background-color: #ffffff;
  width: 350px;
  height: 480px;
  padding: 20px;
  border-radius: 20px;
}

.perfil-foto {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin: 75px auto 10px;
  display: block;
}

.perfil-card .card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.perfil-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.descripcion-hover {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00a884;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  transition: bottom 0.4s ease-in-out;
}

.perfil-card:hover .descripcion-hover {
  bottom: 0;
}

.icon-container {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.icon-link {
  font-size: 28px;
  color: white;
  background-color: #006e57;
  padding: 10px;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.icon-btn:hover {
  background-color: #004d3d;
  transform: scale(1.1);
}
