/* Estilos para el Navbar */
.navbar {
  background-color: #0e6b64;
}

.btn-navbar {
  border: 1px solid #000;
  color: #000;
}

.btn-navbar:hover {
  color: #fff;
  background-color: #00a884;
}

/* Estilos para los formularios <Login> y <Signup> */

.container {
  max-width: 500px;
}

.card {
  background-color: #2c2f36;
}

.form-control {
  background-color: #515963;
  border: none;
  color: #fff;
}

.form-control::placeholder {
  color: #fff;
}

.btn-registro,
.btn-iniciar_sesion {
  background-color: #0e6b64;
  border: 1px solid #0e6b64;
  color: #fff;
}

.btn-registro:hover,
.btn-iniciar_sesion:hover {
  background-color: #00a884;
  border: 1px solid #00a884;
  color: #fff;
}

/* Estilos para los input */
.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #00adb5;
}

.input-container input {
  width: 100%;
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
  background-color: #515963;
  color: white;
}
