/* fuente Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
/* fuente Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* fuente Libre Franklin */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* fuente Jost */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* fuente Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* #################################################################### */

#root {
  background-color: #ececec;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*######################### Estilos para el Navbar #########################*/
.navbar {
  background-color: #0e6b64;
  width: 100%;
  gap: 70px;
  box-shadow: 0px 4px 26px 1px rgba(14, 107, 100, 0.82);
  -webkit-box-shadow: 0px 4px 26px 1px rgba(14, 107, 100, 0.82);
  -moz-box-shadow: 0px 4px 26px 1px rgba(14, 107, 100, 0.82);
}

.nav-text {
  font-family: "Roboto", sans-serif;
  border-left: 2px solid #00a884;
  margin-left: 5px;
  padding-left: 5px;
}

.nav-text h1 {
  font-size: 35px;
  position: relative;
  cursor: default;
}

.nav-text h1::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.4s ease-out;
}

.nav-text h1:hover::after {
  width: 100%;
}

.btn-navbar {
  border: 1px solid #000;
  color: #000;
}

.btn-navbar:hover {
  color: #fff;
  background-color: #00a884;
}

.nav-btns {
  font-size: 18px;
  background-color: #0e6b64;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-btns:hover {
  color: #fff;
  border: 1px solid #0e6b64;
  background: #00a884;
  box-shadow: 0 4px 20px #00a88480;
  transform: translateY(-3px);
}

.nav-btn_cerrar_sesion,
.nav-btn_budget {
  font-size: 18px;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-btn_cerrar_sesion:hover {
  color: #fff;
  background: #dc2525;
  box-shadow: 0 4px 20px #dc252580;
  transform: translateY(-3px);
}

.nav-btn_budget:hover {
  color: #fff;
  background: #ec9a06;
  box-shadow: 0 4px 20px #ec9a0680;
  transform: translateX(3px);
}

/*######################### Estilos para los formularios <Login> y <Signup> #########################*/

.container_formulario {
  min-width: 500px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: auto;
  margin-top: 110px;
  min-height: 63vh;
}

.card {
  background-color: #2c2f36;
  box-shadow: 0px 4px 26px 1px rgba(44, 47, 54, 0.82);
  -webkit-box-shadow: 0px 4px 26px 1px rgba(44, 47, 54, 0.82);
  -moz-box-shadow: 0px 4px 26px 1px rgba(44, 47, 54, 0.82);
}

.form-control-custom {
  background-color: #515963;
  border: none;
  color: #fff;
}

.form-control-custom::placeholder {
  color: #fff;
}

.btn-registro,
.btn-iniciar_sesion {
  background-color: #0e6b64;
  border: none;
  color: #fff;
  font-size: 20px;
}

.btn-registro:hover,
.btn-iniciar_sesion:hover {
  background-color: #00a884;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-iniciar_sesion:focus,
.btn-registro:focus {
  background: #00a884;
  color: #fff;
  box-shadow: 0 4px 20px #00a88480;
  transform: translateY(-3px);
}

.btn-iniciar_sesion:disabled,
.btn-registro:disabled {
  background-color: #0b5a54;
  color: #fff;
}
/*######################### Estilos para los input #########################*/

.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #00adb5;
}

.input-container input {
  width: 100%;
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
  background-color: #515963;
  color: white;
  font-size: 20px;
}

/*######################### Estilos para el Home #########################*/
.home_img {
  width: 580px;
  height: auto;
}

.home_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
}

.home_text h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 70px;
}

.home_text p {
  font-family: "Inter", sans-serif;
}

.home_button {
  background-color: #0e6b64;
  border: 1px solid #0e6b64;
  width: 25%;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home_button:hover {
  color: #fff;
  background: #00a884;
  box-shadow: 0 4px 20px #00a88480;
  transform: translateY(-3px);
}

/*######################### Estilos para InfoGestor #########################*/

.info-gestor {
  display: flex;
  background-color: #fff;
}

.info-gestor_container {
  width: 90%;
  padding: 0 90px;
}

.info-gestor_container__img {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.info-gestor_img {
  margin-top: 40%;
  width: 500px;
  height: 300px;
}

.info-gestor_img-2 {
  margin-top: 100%;
  width: 500px;
  height: 500px;
}

.info-gestor_titulo,
.info-gestor_presupuesto,
.info-gestor_consejos {
  text-align: justify;
}

.info-gestor_titulo h1 {
  text-align: center;
  margin: 40px 0;
  font-family: "Jost", sans-serif;
  font-weight: bold;
}

.info-gestor_presupuesto h3,
.info-gestor_consejos h3 {
  margin: 30px 0;
  font-family: "Libre Franklin", sans-serif;
}

.info-gestor_consejos__ul ul {
  list-style-type: none;
}

.info-gestor_consejos__ul ul li p {
  padding-left: 20px;
}

.info-gestor_titulo,
.info-gestor_presupuesto,
.info-gestor_consejos p {
  font-family: "Poppins", sans-serif;
}

.info-gestor_btn {
  display: flex;
  justify-content: center;
}

.info-gestor_btn__home {
  background-color: #0e6b64;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 15%;
  margin: 25px 0;
}

.info-gestor_btn__home:hover {
  color: #fff;
  background: #00a884;
  box-shadow: 0 4px 20px #00a88480;
  transform: translateY(-3px);
}

/* ######################### Estilos para el Budget ######################### */

.budget {
  height: 100vh;
}

.budget_button {
  background-color: #0e6b64;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.budget_button:hover {
  color: #fff;
  background: #00a884;
  box-shadow: 0 4px 20px #00a88480;
  transform: translateY(-3px);
}

.budget_paragraph {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 0;
  gap: 3px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.budget_paragraph:hover {
  transform: translateY(3px);
}

.budget_paragraph i {
  font-size: 15px;
}

/* ######################### Estilos para el Footer ######################### */

.footer {
  height: 100%;
  width: 100%;
  background-color: #0e6b64;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer_title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  color: #fff;
}

.footer_title h4 {
  margin: 0;
  padding: 10px 0;
}

.footer_button {
  width: 25%;
  display: flex;
  justify-content: center;
}

.footer_button button {
  background-color: #ec9a06;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer_button button:hover {
  background-color: #ec9a06;
  color: #fff;
  box-shadow: 0 4px 20px #ec9a0680;
  transform: translateY(-3px);
}

.footer_button button:focus {
  background-color: #ec9a0680;
}

.footer_button ul {
  background-color: #ec9a06;
}

.footer_button ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

.footer_copyright {
  color: #a7a7a7;
  display: flex;
}

.footer_copyright p {
  margin: 0;
  padding: 10px 0;
}

/* Skeleton */
.skeleton-box {
  background: #e3e3e3;
  border-radius: 8px;
  animation: loading 1.2s infinite linear;
}

.skeleton-card {
  height: 200px;
  background: #e3e3e3;
  border-radius: 12px;
  animation: loading 1.2s infinite linear;
}

.skeleton-item {
  width: 100%;
}

@keyframes loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #d5d5d5;
  }
  100% {
    background-color: #e0e0e0;
  }
}

@keyframes loading {
  0% {
    background-color: #e3e3e3;
  }
  50% {
    background-color: #d4d4d4;
  }
  100% {
    background-color: #e3e3e3;
  }
}

/* Estilos varios */
.color-custom {
  color: #00a884;
}

.btn-custom {
  background-color: #0e6b64 !important;
  border-color: #0e6b64 !important;
  color: white !important;
}
.btn-custom:hover {
  background-color: #0b5a54 !important;
  border-color: #0b5a54 !important;
}

.btn-outline-custom {
  color: #0e6b64;
  border-color: #0e6b64;
  background-color: transparent;
}
.btn-outline-custom:hover {
  color: #ffffff;
  background-color: #0e6b64;
  border-color: #0e6b64;
}

.btn-outline-custom:focus {
  box-shadow: 0 0 0 0.25rem rgba(14, 107, 100, 0.5);
}
.header-modal {
  background-color: rgb(91, 94, 93);
  width: 100%;
  gap: 70px;
  box-shadow: 0px 4px 26px 1px rgba(154, 158, 158, 0.82);
}

/* ######################### Estilos para cards de perfil ######################### */

.perfil-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  background-color: #ffffff;
}

.perfil-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.descripcion-hover {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00a884;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  transition: bottom 0.4s ease-in-out;
}

.perfil-card:hover .descripcion-hover {
  bottom: 0;
}

.linkedin-btn {
  font-size: 28px;
  color: white;
  background-color: #006e57;
  padding: 10px;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.linkedin-btn:hover {
  background-color: #004d3d;
  transform: scale(1.1);
}
