/* fuente Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
/* fuente Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Estilos para el Navbar */
.navbar {
  background-color: #0e6b64;
}

.btn-navbar {
  border: 1px solid #000;
  color: #000;
}

.btn-navbar:hover {
  color: #fff;
  background-color: #00a884;
}

.nav-btns {
  background-color: #fff;
  color: #0e6b64;
  border: 1px solid #0e6b64;
}

.nav-btns:hover {
  background-color: #0e6b64;
  color: #fff;
  border: 1px solid #fff;
}

.nav-btn_cerrar_sesion {
  background-color: #fff;
  color: #dc2525;
  border: 1px solid #dc2525;
}

.nav-btn_cerrar_sesion:hover {
  background-color: #dc2525;
  color: #fff;
  border: 1px solid #dc2525;
}

/* Estilos para los formularios <Login> y <Signup> */

.container_formulario {
  max-width: 500px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.card {
  background-color: #2c2f36;
}

.form-control {
  background-color: #515963;
  border: none;
  color: #fff;
}

.form-control::placeholder {
  color: #fff;
}

.btn-registro,
.btn-iniciar_sesion {
  background-color: #0e6b64;
  border: 1px solid #0e6b64;
  color: #fff;
  font-size: 20px;
}

.btn-registro:hover,
.btn-iniciar_sesion:hover {
  background-color: #00a884;
  border: 1px solid #00a884;
  color: #fff;
}

/* Estilos para los input */
.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #00adb5;
}

.input-container input {
  width: 100%;
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
  background-color: #515963;
  color: white;
  font-size: 20px;
}

/* Estilos para el Home */
.home_img {
  width: 750px;
  height: auto;
}

.home_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.home_text h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 70px;
}

.home_text p {
  font-family: "Inter", sans-serif;
}

.home_text button {
  border: 1px solid green;
  width: 25%;
}
